
  .marquee {
    height: 35px;
    width: 200%;
    position: relative;

  } 
  
  .marquee span {
    float: left;
    width: 300px;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -150%; }
  }