.container{
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;

}

#obj-1{
    background-color: red;
    border: 2px solid red;
    height: 50px;
    width: 20%;
}

#obj-2{
    background-color: green;
    border: 2px solid green;
    height: 50px;
    width: 20%;
}

#obj-3{
    background-color: blue;
    border: 2px solid blue;
    height: 50px;
    width: 20%;
}

#obj-1, #obj-2, #obj-3{
    animation-name: slide-1, slide-2, slide-3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide-1 {
    from{
        transform: translateX(400%);
    }
    to{transform: translateX(-100%);}
}