.obj1{
    background-color: red;
    border: 2px solid red;
    height: 50px;
    width: 20%;
    margin-top: 30%;
    margin-left: 5%;
}
.obj1:hover{
    cursor: pointer;
}
.obj2{
    background-color: green;
    border: 2px solid green;
    height: 50px;
    width: 20%;
    margin-left: 35%;
    margin-top: -7%;
}

.obj3{
    background-color: blue;
    border: 2px solid blue;
    height: 50px;
    width: 20%;
    margin-top: -7%;
    margin-left: 65%;
}

section{
    overflow: hidden;
}
.objects{
    position: relative;
    animation-name: sliddein;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slidein{
    from {
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}