.container{
    display: flex;
    background-color: #ffc0cb;
    justify-content: space-between;
}


.obj-1{
    background-color: red;
    border: 2px solid red;
    height: 50px;
    width: 20%;
}


.obj-1{
    animation-name: slide-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes slide-1 {
    from{
        left: -10%;
    }
    to{
        left: 100%;
    }
}

.obj-2i{
    background-color: red;
    border: 2px solid red;
    height: 50px;
    width: 20%;
}
.obj-2{
    animation-name: slide-2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes slide-2 {
    from{
        transform: translateX(0%)
    }
    to{
        transform: translateX(-500%)
    }  
}