#obj-1{
    background-color: red;
    border: 2px solid red;
    height: 50px;
    width: 20%;
    margin-top: 30%;
    margin-left: 9%;
}

#obj-2{
    background-color: green;
    border: 2px solid green;
    height: 50px;
    width: 20%;
    margin-left: 39%;
    margin-top: -7%;
}

#obj-3{
    background-color: blue;
    border: 2px solid blue;
    height: 50px;
    width: 20%;
    margin-top: -7%;
    margin-left: 69%;
}

.container{
    overflow: hidden;
}
#obj-1, #obj-2, #obj-3{
    position: relative;
    animation-name: slide-1, slide-2, slide-3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide-1 {
    from{
        transform: translateX(400%);
    }
    to{
        transform: translateX(-300%);
    }
}

@keyframes slide-2 {
    from{
        transform: translateX(400%);
    }
    to{
        transform: translateX(-300%);
    }
}