
/* user story */
.container{
    margin-top: 125px;
}
.row{
    display: flexbox;
    gap: 50px;
}

/* story */
.col{
    border: 2px solid black;
    border-radius: 5px;
}
/* animations */
.col{
    position: relative;
    animation-name: story;
    animation-duration: 50s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}
@keyframes story {
    from {left: 100%; right: 0%;}
    to {left: -100%; right: 0%;}
}

/* user */
.name{
    border: 2px solid lightgrey;
    width: 100px;
    margin-left: -12px;
    border-radius: 3px;
}

/* ---------------------------
coloring the home page
--------------------------- */
.body{
    background-color: var(--bs-tertiary-bg);
}
.success{
  background-color: var(--bs-success-bg-subtle);
}
.name h4{
    color: var(--bs-success-text-emphasis);
}


/* -------------------
Form Styles
------------------- */
#addiction-form-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #addiction-form-section h2 {
      text-align: center;
      color: #007bff;
  }
  
  #addiction-form-section label {
      display: block;
      margin: 10px 0;
  }
  
  #addiction-form-section input,
  #addiction-form-section textarea,
  #addiction-form-section select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
  }
  
  #addiction-form-section button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  #addiction-form-section button:hover {
      background-color: #0056b3;
  }
  
 
  