/* navbar items */
.customize{
    margin: auto;
}


/* user story */
.container{
    margin-top: 125px;
}
.row{
    display: flexbox;
    gap: 50px;
}

/* story */
.col{
    border: 2px solid black;
    border-radius: 5px;
}
/* animations */
.col{
    position: relative;
    animation-name: story;
    animation-duration: 50s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}
@keyframes story {
    from {left: 100%; right: 0%;}
    to {left: -100%; right: 0%;}
}

/* user */
.name{
    border: 2px solid lightgrey;
    width: 100px;
    margin-left: -12px;
    border-radius: 3px;
}


/* ---------------------------
coloring the home page
--------------------------- */
.body{
  background-color: var(--bs-secondary-bg);
  width: auto;
}
.success{
  background-color: var(--bs-success-bg-subtle);
}
.name h4{
    color: var(--bs-success-text-emphasis);
}
.system-title{
  margin-left: 10%;
  margin-right: 30%;
}


/* -------------------
Form Styles
------------------- */
#addiction-form-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #4CAF50; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  #addiction-form-section h3 {
    text-align: center;
    color: burlywood; 
    margin-bottom: 20px;
  }
  
  #addiction-form-section label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  #addiction-form-section input,
  #addiction-form-section textarea,
  #addiction-form-section select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  #addiction-form-section select {
    height: 40px;
  }
  
  #addiction-form-section button {
    background-color: #fff; 
    color: #4CAF50; 
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  #addiction-form-section button:hover {
    background-color: #e0e0e0; 
  }

  /* set default margin and padding */
body, h1, h2, ul, li {
  margin: 0;
  padding: 0x;
}

h2 {
  margin-bottom: 20px; 
}

/* layout to the chat boxes */
.container {
  display: flex;
  justify-content: space-between;
}

.forum, .personalized-chat {
  width: 48%;
  margin-bottom: 20px;
}

.chat-box {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

textarea {
  width: calc(100% - 20px);
  margin-top: 10px;
}

button {
  margin-top: 10px;
}
