<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<title>Recovery resources</title>
{% include "navigation.html" %} <br>

<style>
    body{margin-top: 50px;}
</style>

<form action="{{ url_for('resources.resource')}} " method="post" class="search-container">
    <select name="label" id="search-input">
        <option value="none"></option>
        <option value="All">All</option>
        {% for label in labels %}
            <option value="{{ label.addiction_type }}">{{ label.addiction_type }}</option>
        {% endfor %}
    </select>
    <button type="submit" id="search-button">Filter</button>
</form>


<body>   
    <section class="resources">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block content %} {% endblock %}
    </section>
</body>
