<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Resources</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">Resources</div>
            <nav>
                <ul class="head22">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('help') }}">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section id="featured-articles">
            <h2>Featured Articles</h2>
            <div class="filter-buttons">
                <button class="filter-btn" data-category="all">All</button>
                <button class="filter-btn" data-category="health">substance-addiction</button>
                <button class="filter-btn" data-category="addiction">Sexual Addiction</button>
                <button class="filter-btn" data-category="recovery">Technology Addiction</button>
                <button class="filter-btn" data-category="mental">Gambling Addiction</button>
            </div>
            <div class="article" data-category="health">
                <h3>Understanding Substance Abuse: Common Causes and Long-Term Effects</h3>
                <p>Substance abuse affects millions, disrupting lives and health. It's a disease, not a choice, often driven by genetics, mental health, stress, and environmental factors. Childhood trauma and lack of social support play a role. Long-term abuse leads to severe health issues. Seeking help is crucial. Sage Clinic offers resources and care for recovery.</p>
                <a href="https://sageclinic.org/blog/substance-abuse-causes-long-term-effects/">Read More</a>
            </div>
            <div class="article" data-category="health">
                <h3>Drug Addiction Recovery Stories: Inspiring Accounts Of Triumph And Transformation</h3>
                <p>Read inspiring stories of triumph and transformation from individuals who have overcome drug addiction. These accounts offer hope and motivation for those on their own journey to recovery.</p>
                <a href="https://lantanarecovery.com/drug-addiction-recovery-stories-inspiring-accounts-of-triumph-and-transformation/">Read More</a>
            </div>
            <div class="article" data-category="addiction">
                <h3>Stigma of Sex Addiction</h3>
                <p>This article addresses the stigma surrounding sexual addiction and the barriers individuals may face in seeking help. It emphasizes the importance of breaking the shame cycle and seeking support from qualified professionals and support groups.</p>
                <a href="https://inpatient-rehab.co.uk/blog/stigma-of-sex-addiction">Read More</a>
            </div>
            <div class="article" data-category="addiction">
                <h3>Sex Addiction, Hypersexuality and Compulsive Sexual Behavior</h3>
                <p>This article provides an overview of sexual addiction, including its causes, symptoms, and various treatment options available. It explores the psychological and emotional aspects of sexual addiction and offers insights into recovery.</p>
                <a href="https://my.clevelandclinic.org/health/diseases/22690-sex-addiction-hypersexuality-and-compulsive-sexual-behavior">Read More</a>
            </div>
            <div class="article" data-category="recovery">
                <h3>Mental wellness and digital devices: The impact of screen time on mental health</h3>
                <p>This article explores the relationship between excessive screen time and mental health, discussing the negative effects of technology addiction on mood, sleep, attention span, and interpersonal relationships.</p>
                <a href="https://www.kaspersky.com/resource-center/preemptive-safety/mental-health">Read More</a>
            </div>
            <div class="article" data-category="recovery">
                <h3>Strategies for establishing healthy technology boundaries</h3>
                <p>This article offers practical tips and advice for setting boundaries and establishing healthy technology habits. It covers strategies such as implementing screen-free zones, scheduling tech-free time, and practicing mindful tech use.</p>
                <a href="https://www.miriamstl.org/aboutmiriam/news/post-details/~board/blogs/post/strategies-for-establishing-healthy-technology-boundaries">Read More</a>
            </div>
            <div class="article" data-category="mental">
                <h3>Dealing with Gambling Addiction Relapses</h3>
                <p>Relapse can be a challenging but crucial aspect of recovery from gambling addiction. This article emphasizes that relapse should not be seen as a failure, but rather as an opportunity for growth and recommitment to recovery. It distinguishes between a slip, a brief lapse in judgment, and a relapse, a return to gambling after a period of sobriety.</p>
                <a href="https://www.algamus.org/blog/gambling-addiction-relapses">Read More</a>
            </div>
            <div class="article" data-category="mental">
                <h3>Compulsive Gambling Symptoms, Causes and Effects</h3>
                <p>This article provides an overview of gambling addiction, including common signs and symptoms, the impact of gambling on mental health and relationships, and various treatment options available for recovery.</p>
                <a href="https://www.psychguides.com/behavioral-disorders/gambling-addiction/symptoms-and-effects/">Read More</a>
            </div>
        </section>
        <section id="featured-videos">
            <h2>Featured Videos</h2>
            <div class="filter-buttons">
                <button class="filter-btn" data-category="all">All</button>
                <button class="filter-btn" data-category="health">substance-addiction</button>
                <button class="filter-btn" data-category="addiction">Sexual Addiction</button>
                <button class="filter-btn" data-category="recovery">Technology Addiction</button>
                <button class="filter-btn" data-category="mental">Gambling Addiction</button>
            </div>
            <div class="video" data-category="health">
                <h3>Addiction and Identity | Ed Latimore | TEDxLakeTravisHigh</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/J9eObiqMPnk?si=31OGaicLfsHLSnh6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="video" data-category="health">
                <h3>How to overcome drug addiction | The Old Path</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7htpmP2QxLI?si=7QMYeQ9fxtzuAcVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="video" data-category="addiction">
                <h3>We Need To Talk About Sex Addiction | Paula Hall | TEDxLeamingtonSpa</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-Qf2e3XZ8Tw?si=VRkGCNL2Z4knPcTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="video" data-category="addiction">
                <h3>Sex, Porn & Manhood | Warren Binford | TEDxSalem</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/R1vJilg7BAQ?si=s7K43Em5hxThzL_G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="video" data-category="recovery">
                <h3>How to Get Rid of Your Technology Addiction | Maxx Viciedo |</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8e1ezeq3C9c?si=Gym4i4Cbs-IqePxd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="video" data-category="recovery">
                <h3>The REAL Effects of Internet Addiction</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/p2contq5aRg?si=zP5BSU9QdrMKeFP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="video" data-category="mental">
                <h3>The fall and rise of a gambling addict | Justyn Rees Larcombe | TEDxRoyalTunbridgeWells</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7AN3VLLlkdI?si=bd7e5DRd81cIUXK2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="video" data-category="mental">
                <h3>9 Signs of Gambling Addiction or Problem Gambling</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BdgrhO0IrlQ?si=S5C8fnvEjUsCv5_T" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </section>

    </main>

    <!-- <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </nav>
            <div class="social-media">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
                <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
            </div>
            <div class="copyright">&copy; 2024 Addiction Solver</div>
        </div>
    </footer> -->

    <script src="static/js/scripts.js"></script>
</body>
</html>




