<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_story.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<body>
    <section>
        <h1>My Story</h1>
        <h1>Jane Wawuda</h1>
        <h4>Brief History of my Addiction</h4>
        <p>I started drinking alcohol when I was 21 years old up to 2021 making it 10 years. All along I have been battling to stop it but sometimes most times I have failed</p>
        <h4>My Recovery Journey</h4>
        <p>In 2021 I googled for help and found the Addiction Solver, since then the system has been my saviour partner. The programs in this system have helped to stay consistent towards recovery and whenever I felt down the community in the forum helped me stay motivated</p>
        <h4>Duration of Recovery</h4>
        <p>I have been using this system for 2 years and the results have put joy in my lips and I'm still pressing on</p>
        <h4>Challenges during recovery</h4>
        <p>Sometimes the craving to drink alcohol was overwhelming but and the knowledged I gained from the educational resources helped me helped stay disciplined and take controlled amount of alcohol.</p>
        <h4>Testimonial</h4>
        <p>I can now live a more productive life because with the help of this system I broke the chains of Alcoholism. I guarantee and recommend that you will have a progressive journey.</p>
    </section>
</body>
</html>