<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/platform.css') }}">
</head>
<body>
    <div class="programs">
        <div class="peer-doctor">
            <a href="http://127.0.0.1:8000/chat-doctor">
                <img src="{{ url_for('static', filename='images/chat_doctor.jpg') }}" alt="chat with chat_doctor"
                style="width: 368px; height: 295px;">
                <p>Talk to a Doctor to help you walk the journey to your Recovery</p>
                <div class="title">Talk to a Doctor</div>
            </a>
        </div>

        <div class="peer-peer">
            <a href="http://127.0.0.1:8000/peer-forum">
                <img src="{{ url_for('static', filename='images/peer_forum.jpg') }}" alt="talk to peers"
                style="width: 368px; height: 300px;">
                <p>Experience a sense of belonging by joining the conversations of a community of like minded peers.</p>
                <div class="title forum">Peer-Peer Forum</div>
            </a>
        </div>

        <div class="e-resources">
            <a href="">
                <img src="{{ url_for('static', filename='images/e_resources.png') }}" alt="learning resources"
                style="width: 368px; height: 306px;">
                <p>Learn from resources tailored for your needs</p>
                <div class="title resource">Educational Resources</div>
            </a>
        </div>
    </div>
</body>
</html>